
.advmailer_table {
  border: 1px solid #ccc;
  margin: 10px;
  width: 100%
}

.advmailer_table td {
  padding: 5px;
  border: 1px solid #ddd;
}

.advmailer_table th {
  background-color: #ccc;
  padding: 5px;
  vertical-align: top;
}

.advmailer_pager {
  text-align: center;
}

.advmailer_sortlink {
  width: 12px;
}

.advmailer_plaintext {
  font-family: Courier New, Courier;
}

.advmailer_statuscell_0 {
  background-color: #00cc33;
  color: #fff;
  font-weight: bold;
}

.advmailer_statuscell_1 {
  background-color: #ffa500;
  color: #fff;
  font-weight: bold;
}

.advmailer_statuscell_2 {
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
}
